ion-item.grid {
    --inner-padding-start: 0;
    --inner-padding-end: 0;
    --inner-padding-top: 0;
    --inner-padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
  }
  
  ion-img.scaled {
    width: 200px;
    height: 200px;
  }
  
  .cover {
    object-fit: cover;
  }