<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="photo-details-content">
  <ion-card>

    <ion-card-content>

      <form #editPhotoDetailsForm="ngForm" (ngSubmit)="submit(editPhotoDetailsForm)">

        <div style="color: red;">

          <div *ngIf="name.invalid && (name.dirty || name.touched || submitted)" class="errorText">
            <div *ngIf="name.errors.required">
              Name is required.
            </div>
          </div>
        </div>

        <ion-list>

          <ion-item>
            <ion-label><b>Name</b></ion-label>
            <ion-input type="text" id="name" name="name" [(ngModel)]="photoToEdit.name" required="true" #name="ngModel"
              placeholder='{{photoToEdit.name}}'>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label><b>Description</b></ion-label>
            <ion-input type="text" id="description" name="description" [(ngModel)]="photoToEdit.description" #description="ngModel">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label><b>Commercial</b></ion-label>
            <ion-checkbox id="commercial" name="commercial" [(ngModel)]="photoToEdit.commercial" required="true"
              #commercial="ngModel">
            </ion-checkbox>
          </ion-item>

          <ion-item>
            <ion-label><b>Privacy Level</b></ion-label>
            <ion-select placeholder="Select" id="privacyLevel" name="privacyLevel"
              [(ngModel)]="photoToEdit.privacyLevel" #privacyLevel="ngModel">
              <ion-select-option value="PUBLIC">Public</ion-select-option>
              <ion-select-option value="FRIENDSONLY">Friends Only</ion-select-option>
              <ion-select-option value="PRIVATE">Private</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label><b>Price</b></ion-label>
            <ion-input type="number" id="price" name="price" [(ngModel)]="photoToEdit.price" #price="ngModel">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-button color="dark" type="submit" ion-button block>
              Update
            </ion-button>
          </ion-item>

        </ion-list>

      </form>

    </ion-card-content>

  </ion-card>
</ion-content>