<ion-header>

</ion-header>

<ion-content padding class="transparent-header">
	<img class="logo" src="assets/img/logo/plickr_text_transparent.png" />

	<ion-card *ngIf="sessionService.getIsLogin() == false">

		<ion-card-content>

			<form #userLoginForm="ngForm" (ngSubmit)="userLogin(userLoginForm)">

				<ion-item>
					<ion-input type="text" id="email" name="email" placeholder="Email" [(ngModel)]="email" minlength="4"
						maxlength="32" #inemail="ngModel"></ion-input>
				</ion-item>

				<ion-item>
					<ion-input type="password" id="password" name="password" placeholder="Password" [(ngModel)]="password" minlength="4" maxlength="32" #inpassword="ngModel"></ion-input>
				</ion-item>

				<ion-button ion-button block outline type="submit" color="dark" class="login-button">Login
				</ion-button>
				<p>- OR -</p>
				<ion-button ion-button block clear (click)="loginFb()" color="light" class="login-button"><ion-icon name="logo-facebook"></ion-icon>&nbsp; Login with Facebook</ion-button>
				<ion-button ion-button block clear (click)="loginGooglePlus()" color="light" class="login-button"><ion-icon name="logo-google"></ion-icon>&nbsp; Login with Google</ion-button>

			</form>

		</ion-card-content>

	</ion-card>

	<ion-card *ngIf="sessionService.getIsLogin() == true">

		<ion-card-content>

			<span *ngIf="sessionService.getCurrentUser().userType == 'ADMIN'">ADMIN</span>
			<span *ngIf="sessionService.getCurrentUser().userType == 'FREE'">FREE</span>
			<span *ngIf="sessionService.getCurrentUser().userType == 'PRO'">PRO</span>

		</ion-card-content>

	</ion-card>

</ion-content>

<ion-footer *ngIf="sessionService.getIsLogin() == true">

	<ion-toolbar>
		<ion-button expand="full" (click)="userLogout()">
			<ion-icon slot="start" name="exit"></ion-icon>
			Logout
		</ion-button>
	</ion-toolbar>

</ion-footer>