.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

ion-item.grid {
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --inner-padding-top: 0;
  --inner-padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
}

ion-card.feed {
  width: 100%;
}

.avatar-image {
  display: block;
  height: auto;
  max-width: 100%;
}

.feed-profile-pic {
  margin-top: 15px;
  max-width: 90px;
}

.feed-content-uploader {
  margin-top: 15px;
  padding-left: 15px;
  display: block;
  text-align: left;
}

.feed-content-date {
  display: flex;
  justify-content: flex-end;
}

.feed-content {
  margin-top: 5px;
  padding: 5px 2%;
  width: 100%;
  color: black;
}


hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}