<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="sessionService.getIsLogin() == true">

    <ion-card-content>

      <span *ngIf="sessionService.getCurrentUser().userType == 'ADMIN'">ADMIN</span>
      <span *ngIf="sessionService.getCurrentUser().userType == 'FREE'">FREE</span>
      <span *ngIf="sessionService.getCurrentUser().userType == 'PRO'">PRO</span>

    </ion-card-content>

  </ion-card>
  <ion-toolbar>
    <ion-button expand="full" (click)="userLogout()">
      <ion-icon slot="start" name="exit"></ion-icon>
      Logout
    </ion-button>
  </ion-toolbar>
</ion-content>