<ion-content>
  <ion-row class="user-details-section">
      <ion-row class="user-image-wrapper">
          <ion-img class="user-profile-pic" [src]="'/assets' + sessionService.getCurrentUser().profileImage"></ion-img>
        </ion-row>
        <ion-row style="width: 100%; margin-top: 15px;">
            <ion-col class="user-name">
              {{sessionService.getCurrentUser().firstName}} {{sessionService.getCurrentUser().lastName}}
              <span  class="user-membership">{{sessionService.getCurrentUser().userType}}</span>
            </ion-col>
        </ion-row>
        <ion-row class="user-follow">
            <div style=" width: 100%; text-align: center;">{{followerList.length}} Followers &ndash; {{followingList.length}} Following</div>
        </ion-row>
        
  </ion-row>
  
  <!-- <div class="user-about-section">
    <h3 class="details-section-title">About</h3>
    <p class="user-description">
      {{sessionService.getCurrentUser().billingAddress1}}
    </p>
  </div> -->

  <div class="user-friends-section">
    <ion-row class="heading-row">
      <h3 class="details-section-title">Following</h3>
      <a class="heading-call-to-action" (click)="friends($event)">See all</a>
    </ion-row>
    <ion-row class="friends-row" >
      <ion-col class="friend-item" size="2" *ngFor="let pageFriend of pageFriends">
        <ion-img [src]="'/assets' + pageFriend.profileImage"></ion-img>
        <span class="friend-name">
          {{ pageFriend.firstName }}
        </span>
      </ion-col>
    </ion-row>
  </div>

  <div class="user-photos-section">
    <ion-row class="heading-row">
      <h3 class="details-section-title">Photos</h3>
      <a class="heading-call-to-action" (click)="userPhotos($event)">See all</a>
    </ion-row>

  </div>
  <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let pagePhoto of pagePhotos">
          <div>
            <ion-item class="grid" detail="false" button="true" lines="none" (click)="viewPhotoDetails($event, pagePhoto)">
              <ion-img class="scaled cover" [src]="'/assets' + pagePhoto.url" ></ion-img>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  <ion-toolbar>
    <ion-button expand="full" (click)="userLogout()">
      <ion-icon slot="start" name="exit"></ion-icon>
      Logout
    </ion-button>
  </ion-toolbar>
</ion-content>