<ion-content>
  <br />
  <ion-row class="user-details-section">
    <ion-col class="user-image-wrapper">
      <ion-img [src]="'http://placeimg.com/300/300/people'"></ion-img>
    </ion-col>
    <ion-col class="user-info-wrapper">
      <ion-row class="user-data-row">
        <ion-col size="9">
          <h3 class="user-name">
            {{sessionService.getCurrentUser().firstName}}
          </h3>
          <h5 class="user-title">
            {{sessionService.getCurrentUser().lastName}}
          </h5>
        </ion-col>
        <ion-col class="membership-col">
          <span class="user-membership">
            <span *ngIf="sessionService.getCurrentUser().userType == 'ADMIN'">ADMIN</span>
            <span *ngIf="sessionService.getCurrentUser().userType == 'FREE'">FREE</span>
            <span *ngIf="sessionService.getCurrentUser().userType == 'PRO'">PRO</span>
          </span>
        </ion-col>
      </ion-row>
      <ion-row class="actions-row">
        <ion-col class="main-actions">
        </ion-col>
        <ion-col class="secondary-actions">
          <ion-button class="more-btn" size="small" fill="clear" color="medium">
            <ion-icon slot="icon-only" name="more"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="user-stats-section">
    <ion-col class="user-stats-wrapper" size="6">

      <span class="stat-value">
        {{sessionService.getCurrentUser().followerList.length}}
      </span>
      <span class="stat-name">Followers</span>

    </ion-col>
    <ion-col class="user-stats-wrapper" size="6">

      <span class="stat-value">
        {{sessionService.getCurrentUser().followingList.length}}
      </span>
      <span class="stat-name">Following</span>

    </ion-col>
  </ion-row>
  <div class="user-about-section">
    <h3 class="details-section-title">About</h3>
    <p class="user-description">
      {{sessionService.getCurrentUser().address}}
    </p>
  </div>

  <div class="user-friends-section">
    <ion-row class="heading-row">
      <h3 class="details-section-title">Friends</h3>
      <a class="heading-call-to-action" [routerLink]="['/tabs/feed']">See all</a>
    </ion-row>
    <ion-row class="friends-row">
      <ion-col class="friend-item" size="2">
        <ion-img [src]="'http://placeimg.com/205/205/people'"></ion-img>
        <span class="friend-name">
          Alex
        </span>
      </ion-col>
      <ion-col class="friend-item" size="2">
        <ion-img [src]="'http://placeimg.com/206/206/tech'"></ion-img>
        <span class="friend-name">
          Bruce
        </span>
      </ion-col>
      <ion-col class="friend-item" size="2">
        <ion-img [src]="'http://placeimg.com/207/207/arch'"></ion-img>
        <span class="friend-name">
          Cody
        </span>
      </ion-col>
      <ion-col class="friend-item" size="2">
        <ion-img [src]="'http://placeimg.com/208/208/nature'"></ion-img>
        <span class="friend-name">
          Danny
        </span>
      </ion-col>
      <ion-col class="friend-item" size="2">
        <ion-img [src]="'http://placeimg.com/209/209/animals'"></ion-img>
        <span class="friend-name">
          Esmond
        </span>
      </ion-col>
    </ion-row>
  </div>

  <div class="user-photos-section">
    <ion-row class="heading-row">
      <h3 class="details-section-title">Photos</h3>
      <a class="heading-call-to-action">See all</a>
    </ion-row>
    <ion-row class="pictures-row">
      <ion-col class="picture-item" size="2">
          <ion-img [src]="'http://placeimg.com/350/350/any'"></ion-img>
      </ion-col>
      <ion-col class="picture-item" size="2">
          <ion-img [src]="'http://placeimg.com/351/351/nature'"></ion-img>
      </ion-col>
      <ion-col class="picture-item" size="2">
          <ion-img [src]="'http://placeimg.com/345/345/animals'"></ion-img>
      </ion-col>
      <ion-col class="picture-item" size="2">
          <ion-img [src]="'http://placeimg.com/375/375/tech'"></ion-img>
      </ion-col>
      <ion-col class="picture-item" size="2">
          <ion-img [src]="'http://placeimg.com/400/400/arch'"></ion-img>
      </ion-col>
      <ion-col class="picture-item" size="2">
          <ion-img [src]="'http://placeimg.com/390/390/people'"></ion-img>
      </ion-col>
      <ion-col class="picture-item" size="2">
          <ion-img [src]="'http://placeimg.com/440/440/tech/sepia'"></ion-img>
      </ion-col>
      <ion-col class="picture-item" size="2">
          <ion-img [src]="'http://placeimg.com/408/408/any/grayscale'"></ion-img>
      </ion-col>
    </ion-row>
  </div>

  <ion-toolbar>
    <ion-button expand="full" (click)="userLogout()">
      <ion-icon slot="start" name="exit"></ion-icon>
      Logout
    </ion-button>
  </ion-toolbar>
</ion-content>