page-search {
  .searchbar {
    width: 100% !important;
  }
}

ion-item.grid {
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --inner-padding-top: 0;
  --inner-padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
}

ion-img.scaled {
  width: 100%;
  height: 200px;
}

.cover {
  object-fit: cover;
}

ion-badge {
  color: #fff;
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 100%;
}

.category-block {
  margin-bottom: 4px;
}

.category-banner {
  border-left: 8px solid var(--ion-color-secondary);
  background: var(--ion-color-light);
  height: 40px;
  padding: 10px;
  font-weight: 500;
}

.categories-list {
  --ion-grid-column-padding: var(--page-categories-gutter);

  padding: calc(var(--page-categories-gutter) * 3);
  height: 100%;
  align-content: flex-start;
  overflow: scroll;

  .category-item {
    .category-anchor {
      height: 100%;
      text-decoration: none;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      .category-title {
        margin: auto;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 1px;
        padding: calc((var(--page-margin) / 4) * 3) var(--page-margin);
        color: var(--ion-color-lightest);
        background-color: var(--page-category-background);
        border-radius: var(--app-fair-radius);
      }
    }
  }

  .travel-category {
    --page-category-background: #00afff;
    --page-category-background-rgb: 0, 175, 255;
  }

  .fashion-category {
    --page-category-background: #cb328f;
    --page-category-background-rgb: 203, 50, 143;
  }

  .food-category {
    --page-category-background: #ebbb00;
    --page-category-background-rgb: 235, 187, 0;
  }

  .deals-category {
    --page-category-background: #70df70;
    --page-category-background-rgb: 112, 223, 112;
  }

  .real-state-category {
    --page-category-background: #d9453a;
    --page-category-background-rgb: 217, 69, 58;
  }
}
