<ion-toolbar>
  <ion-buttons slot="end">
    <ion-button (click)="openShoppingCart()">
      <ion-badge *ngIf="shoppingCart.length > 0">{{ shoppingCart.length }}</ion-badge>
      <ion-icon slot="icon-only" name="cart"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-searchbar class="searchbar" (input)="getItems($event)"></ion-searchbar>
</ion-toolbar>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-grid>
      <ion-row>
        <ion-col size="4" *ngFor="let photo of photosLoaded">
          <div>
            <ion-item detail="false" button="true" class="grid" lines="none" (click)="viewPhotoDetails($event, photo)">
              <ion-img click class="scaled cover" [src]="'/assets' + photo.url"></ion-img>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading..">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!--   <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let photo of photos">
        <div *ngIf="photo.url.includes('resources/img')">
          <ion-item button="true" class="grid" lines="none" (click)="viewPhotoDetails($event, photo)">
            <ion-img click class="scaled cover" [src]="'/assets' + photo.url"></ion-img>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngFor="let cat of items" class="category-block">

    <ion-row no-padding class="category-banner">
      <ion-col text-left button tappable (click)="cat.expanded = !cat.expanded" align-self-center>
        {{ cat.category }}
      </ion-col>
    </ion-row>

    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let product of cat.products">
        <div *ngIf="cat.expanded">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                {{ product.name }} - ${{ product.price }}
              </ion-card-title>
              <ion-card-content>
                <img src="http://placeimg.com/300/300/animals">
                <ion-button expand="full" (click)="addToCart(product)">Add to Cart</ion-button>
              </ion-card-content>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-slide>
    </ion-slides>
  </div> -->
</ion-content>