<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-title>Shopping Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let item of selectedItems" lines="inset">
      <ion-col size="2">
        <ion-img style="height: 100%;" [src]="'/assets' + item.url"></ion-img>
      </ion-col>

      <ion-col size="4">
        {{ item.count }} x
        <h4 class="item-name"> {{ item.name }} </h4>
        <h6 class="price-font">({{ item.price | currency:'SGD':'symbol' }})</h6>
      </ion-col>

      <ion-col class="align-right" size="6">
        <ion-label class="align-text">{{ (item.price * item.count) | currency:'SGD':'symbol' }}
        </ion-label>
        <br/>
        <br/>
        <ion-button style="float: right;" (click)="onDeleteItem(item)">Remove</ion-button>
        <ion-button style="float: right;" (click)="onIncreaseQty(item)">+</ion-button>
        <ion-button style="float: right;" (click)="onDecreaseQty(item)">-</ion-button>
        
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          Total: <span slot="end">{{ total | currency:'SGD':'symbol' }}</span>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-button style="display: block;" (click)="createSaleTransaction($event, selectedItems)">Checkout</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>