<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="photo-details-content">
  <ion-row>
    <ion-col >
      <ion-item class="grid" lines="none">
        <ion-img class="scaled" [src]="'/assets' + photoToView.url"></ion-img>
      </ion-item>
    </ion-col>
    <ion-col size="12" class="aux-action-col" *ngIf="uploader.userId === sessionService.getCurrentUser().userId">
      <ion-button class="size-chart-btn" color="medium" size="small" fill="clear" (click)="editPhotoDetails()">EDIT
        PHOTO DETAILS</ion-button>
    </ion-col>
  </ion-row>
  <div class="description-wrapper">
    <h3 class="details-name">
      {{photoToView.name}}
    </h3>
    <span class="details-uploader">
      {{uploader.firstName}} {{uploader.lastName}}
    </span>
    <span class="details-price" *ngIf="photoToView.commercial === true">
      ${{photoToView.price}}
    </span>
  </div>
  <ion-row>
    <ion-col size="6"  *ngIf="photoToView.commercial === true">
      <ion-button class="quantity-button" color="medium" expand="block" fill="outline" (click)="openSizeChooser()">
        Quantity</ion-button>
    </ion-col>
    <ion-col size="6" class="cart-button" *ngIf="photoToView.commercial === true">
      <ion-button (click)="addToCart(photoToView)" class="add-to-cart-btn" color="dark" expand="block" fill="solid">Add to Cart</ion-button>
    </ion-col>
  </ion-row>
  <div class="details-description-wrapper">
    <h3 class="detail-title">Description</h3>
    <p class="details-description">
      {{photoToView.description}}
    </p>
  </div>
  <div class="details-description-wrapper">
    <h3 class="detail-title">Date uploaded</h3>
    <p class="details-description">
      {{photoToView.dateUploaded | date: "dd MMM yyyy HH:mm"}}
    </p>
  </div>
  <div class="details-description-wrapper">
    <h3 class="detail-title">Privacy Level</h3>
    <p class="details-description">
      {{photoToView.privacyLevel}}
    </p>
  </div>
  <div class="details-description-wrapper">
    <h3 class="detail-title">Photo ID</h3>
    <p class="details-description">
      {{photoToView.photoId}}
    </p>
  </div>
  <ion-button color="dark" (click)="viewComments($event, photoToView)" type="submit" ion-button block>
      View Comments
  </ion-button>
</ion-content>