<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/user"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Comments
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="notifications-content">
  <!--     <ion-list padding *ngFor="let comment of comments">
        <ion-item >
            {{comment.description}}
          
            <p>{{comment.time}}</p>
            <p>{{comment.user.firstName}}</p>
        </ion-item>
    </ion-list> -->

  <ion-item class="notification-item" lines="none" *ngFor="let comment of comments">
      <ion-row class="notification-item-wrapper">
        <ion-col size="2">
          <ion-avatar>
            <ion-img class="profile-image-wrapper" [src]="'/assets' + comment.user.profileImage"></ion-img>
          </ion-avatar>
        </ion-col>
        <ion-col class="details-wrapper">
          <h2 class="details-name">{{ comment.user.firstName }}</h2>
          <p class="details-description">{{ comment.description }}</p>
          <p class="date-created">{{ comment.time | date:'dd MMM yy' }}</p>
        </ion-col>
        <!--           <ion-col size="2" class="date-wrapper">
          <h3 class="notification-date">{{ notification.dateCreated | date:'dd MMM yy' }}</h3>
        </ion-col> -->
      </ion-row>
    </ion-item>

    <ion-input mode="ios" color="dark" style="--padding-start: 50px; --background: #4a5664; --color:#fff; --placeholder-color: #fff; " placeholder="Leave a comment"></ion-input>

  <!---<form #newCommentForm="ngForm" (ngSubmit)="submit(newCommentForm)">
    <ion-list>
      <ion-item>
        <ion-label><b>Description</b></ion-label>
        <ion-input type="text" id="description" name="description" [(ngModel)]="newComment.description" required="true"
          #description="ngModel" placeholder='{{newComment.description}}'>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-button color="dark" type="submit" ion-button block>
          Create Comment
        </ion-button>
      </ion-item>
    </ion-list>
  </form>-->
</ion-content>